<mat-toolbar color="primary">
  <span>Mobiili liittymien hintalaskin</span>
  <span class="spacer"></span>
</mat-toolbar>
<div class="container">
  <h1> MoiMobiili Reilu 5G hintalaskin</h1>
  <p>MoiMobiilin uudella Reilu 5G-liittymällä on hieman monimutkainen hinnoittelu, niin tällä laskimella voit laskea kuukauden hinta. Tässä liittymässä mitä enemmän käytät 4G:tä suhteessa 5G:hen maksat alemman datan hintaa. Liittymässä ei ole datakattoa Suomessa. Tämä laskin ei huomioi roaming hinnoittelua. Hinnoittelu tarkistettu 11.2.2022.</p>
  <div>
    <form method="POST" #MoiMobiiliReilu5GForm="ngForm">
      <mat-form-field appearance="fill">
        <mat-label>Valitse nopeus</mat-label>
        <mat-select [(value)]="formMoiMobiiliReilu5G.plan" (selectionChange)="MoiMobileReilu5G()">
          <mat-option value="400">400M</mat-option>
          <mat-option value="1000">1000M</mat-option>
        </mat-select>
      </mat-form-field>
      <br />
      <mat-form-field appearance="fill">
       <mat-label>5G datan määrä gigatavuina (Gt)</mat-label>
        <input matInput type="number" name="dataAmount5G" [(ngModel)]="formMoiMobiiliReilu5G.dataAmount5G" (ngModelChange)="MoiMobileReilu5G()" autocomplete="off">
      </mat-form-field>
      <br />
      <mat-form-field appearance="fill">
        <mat-label>4G datan määrä gigatavuina (Gt)</mat-label>
         <input matInput type="number" name="dataAmount4G" [(ngModel)]="formMoiMobiiliReilu5G.dataAmount4G" (ngModelChange)="MoiMobileReilu5G()" autocomplete="off">
       </mat-form-field>
       <br />
       <mat-form-field appearance="fill">
        <mat-label>Puhelut minuuteissa</mat-label>
         <input matInput type="number" name="calls" [(ngModel)]="formMoiMobiiliReilu5G.calls" (ngModelChange)="MoiMobileReilu5G()" autocomplete="off">
       </mat-form-field>
       <br />
       <mat-form-field appearance="fill">
        <mat-label>Tekstiviestien määrä</mat-label>
         <input matInput type="number" name="sms" [(ngModel)]="formMoiMobiiliReilu5G.sms" (ngModelChange)="MoiMobileReilu5G()" autocomplete="off">
       </mat-form-field>
    </form>
  </div>
  <div>
    <table class="mat-table mat-elevation-z8">
      <tr>
        <th class="mat-header-cell">Datan hinta</th>
        <td class="mat-cell">{{formMoiMobiiliReilu5GOutput.monthlyCostData}} €</td>
      </tr>
      <tr>
        <th class="mat-header-cell">Puheluiden ja tekstiviestien hinta</th>
        <td class="mat-cell">{{formMoiMobiiliReilu5GOutput.monthlyCostCallSMS}} €</td>
      </tr>
      <tr>
        <th class="mat-header-cell">Hinta yhteensä</th>
        <td class="mat-cell">{{formMoiMobiiliReilu5GOutput.monthlyCostSummary}} €</td>
      </tr>
    </table>
  </div>
</div>